# EEG
mne
mne_bids
pymatreader # for plotting
python-picard # for ICA

# plotting
matplotlib
seaborn

# helper for downloading
git+https://github.com/ubcbraincircuits/osfclient

# jupyter
notebook

# linting
flake8
pylint

# io
pathlib
# os
# string
datetime

# maths
numpy
scipy
pandas
