# EEG
mne
mne_bids

# plotting
matplotlib
seaborn

# helper for downloading
-f https://github.com/ubcbraincircuits/osfclienttutorial

# jupyter
notebook

# io
pathlib
# os
# string
datetime

# maths
numpy
scipy
pandas
